@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-blanco: #f7f7f7;
  --color-tiza: #dedede;
  --color-gris: #415060;
  --color-azul: #1c2e4c;
}

body {
  font-family: khand, Helvetica, sans-serif;
}

canvas {
  touch-action: none;
  background: transparent !important;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }

  40%,
  60% {
    transform: scale(1.04);
  }
}
.svg-breathe {
  animation: breathe 4.5s ease-in-out infinite;
  transform-origin: center;
}
