@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-blanco: #f7f7f7;
  --color-tiza: #dedede;
  --color-gris: #415060;
  --color-azul: #1c2e4c;
}

body {
  font-family: khand, Helvetica, sans-serif;
}

canvas { touch-action: none; background: transparent !important; }
